<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{LayoutPadrao}"
>
  <head>
    <title>Funcionários</title>
  </head>

  <body>
    <section layout:fragment="conteudo">
      <div th:replace="MensagemGeral"></div>

      <h1 class="text-center my-3">Funcionários em WA</h1>

      <div th:replace="~{FiltroBusca}"></div>

      <table
        class="table table-hover table-striped text-center table-responsive-md"
      >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Tecnologias</th>
            <th>Inicio WA</th>
            <th>Previsão término WA</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.nome}"></td>

            <td th:text="${funcionario.cargo.descricao}"></td>

            <td>
              <strong th:if="${#lists.isEmpty(funcionario.tecnologias)}"
                >Nenhuma tecnologia cadastrada</strong
              >
              <ul class="row">
                <li
                  class="col-md-6"
                  th:each="tecnologia : ${funcionario.tecnologias}"
                >
                  <span class="badge badge-info" th:text="${tecnologia.nome}">
                  </span>
                </li>
              </ul>
            </td>

            <td th:text="${{funcionario.inicioWa}}"></td>

            <td th:text="${{funcionario.terminoWa}}"></td>
          </tr>
          <tr>
            <td colspan="5" th:if="${#lists.isEmpty(funcionarios)}">
              Nenhum funcionário foi encontrado
            </td>
          </tr>
        </tbody>
      </table>

      <div th:replace="~{/parts/AdminBotao}"></div>
    </section>
  </body>
</html>
