<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{LayoutPadrao}"
>
  <head>
    <title>Vagas</title>
  </head>

  <body>
    <section layout:fragment="conteudo">
      <div th:replace="MensagemGeral"></div>

      <h1 class="text-center my-3">Vagas em Aberto</h1>

      <div th:replace="~{FiltroBusca}"></div>

      <table
        class="table table-hover table-striped text-center table-responsive-md"
      >
        <thead>
          <tr>
            <th>Projeto</th>
            <th>Descrição vaga</th>
            <th>Tecnologias</th>
            <th>Abertura da Vaga</th>
            <th>Qtd Vagas</th>
            <th>Código da vaga</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="vaga : ${vagas}">
            <td th:text="${vaga.projeto}"></td>

            <td th:text="${vaga.descricaoVaga}"></td>

            <td>
              <strong th:if="${#lists.isEmpty(vaga.tecnologias)}"
                >Nenhuma tecnologia cadastrada</strong
              >
              <ul class="row">
                <li class="col-md-6" th:each="tecnologia : ${vaga.tecnologias}">
                  <span class="badge badge-info" th:text="${tecnologia.nome}">
                  </span>
                </li>
              </ul>
            </td>

            <td th:text="${{vaga.dataDeAbertura}}"></td>

            <td th:text="${{vaga.qtdVagas}}"></td>

            <td th:text="${{vaga.codigoVaga}}"></td>
          </tr>
          <tr>
            <td colspan="6" th:if="${#lists.isEmpty(vagas)}">
              Nenhuma vaga foi encontrada
            </td>
          </tr>
        </tbody>
      </table>

      <div th:replace="~{/parts/AdminBotao}"></div>
    </section>
  </body>
</html>
